form{
    margin-left: 38%;
}
.first-div{
    display: block;
}
.second-div{
    margin-top: 10px;
}
form{
    background-color: #f58c8f;
    width: 30%;
    
}
.main-content{
    margin-left: 22%;
}
h1{
    margin-left: 20px;
}
button{
    margin-left: 47%;
    margin-top: 13px;
    margin-bottom: 7px;
}

